@use "../../../../styles.scss" as *;

$twenty-wide: calc($wide-breakpoint * 0.2);

.timetable-list {
  display: grid;
  grid-template-columns: 0 repeat(5, 0.2fr) 0;

  @media (min-width: $wide-breakpoint) {
    grid-template-columns: 0.5fr repeat(5, $twenty-wide) 0.5fr;
  }
}

.page-header {
  grid-column: span 5;
  color: $bright-primary-color;
  font-size: 4vw;
  line-height: 7vw;

  @media (max-width: $narrow-breakpoint) {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  @media (min-width: $wide-breakpoint) {
    font-size: 4rem;
    line-height: 5rem;
  }
}

.header {
  font-weight: 600;
  font-size: 1.1rem;

  @media (max-width: $narrow-breakpoint) {
    font-weight: 500;
    font-size: 1rem;
  }
}

a.destination {
  grid-column: span 5;
  color: $opposite-text-color;
  background-color: $primary-color;
  padding: 0.2rem;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.destination:hover {
  color: $accent-color;
}

.table-content {
  font-size: 1rem;
  @media (max-width: $narrow-breakpoint) {
    font-size: 0.8rem;
  }
}
