@use "../../../styles.scss" as *;

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr max-content 1fr;
  grid-template-areas:
    ". ."
    "summary-area booking-area"
    ". .";

  @media (max-width: $narrow-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 0.25fr max-content 1fr;
    grid-template-areas:
      "summary-area"
      "."
      "booking-area"
      ".";
  }
  @media (min-width: $wide-breakpoint) {
    grid-template-columns: 1fr $half-wide $half-wide 1fr;
    grid-template-rows: 0.5fr max-content 1fr;
    grid-template-areas:
      ". . . ."
      ". summary-area booking-area ."
      ". . . .";
  }
}

.summary {
  grid-area: summary-area;
  font-size: 2.5vw;
  line-height: 2.7vw;
  margin: 1rem;

  @media (max-width: $narrow-breakpoint) {
    font-size: 1.25rem;
    line-height: 1.35rem;
  }

  @media (min-width: $wide-breakpoint) {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
}

.booking {
  grid-area: booking-area;

}
