@use "../../../../styles.scss" as *;

.layout {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.5fr;
  grid-template-rows: max-content 0.5rem max-content 1rem max-content 1fr 2rem;
  grid-template-areas:
    "picture picture picture"
    ". . ."
    "cityname-area cityname-area fluff-area"
    ". . fluff-area"
    "timetable-area booking-area fluff-area"
    ". . fluff-area"
    ". . .";

  @media (max-width: $narrow-breakpoint) {
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: max-content 0.25rem max-content 0.5rem max-content 0.5rem max-content 2rem;
    grid-template-areas:
      "picture picture"
      ". ."
      "cityname-area cityname-area"
      ". ."
      "timetable-area booking-area"
      ". ."
      "fluff-area fluff-area"
      ". .";
  }

  @media (min-width: $wide-breakpoint) {
    grid-template-columns: 0.5fr $quarter-wide $quarter-wide $half-wide 0.5fr;
    grid-template-areas:
      ". picture picture picture ."
      ". . . . ."
      ". cityname-area cityname-area fluff-area ."
      ". . . fluff-area ."
      ". timetable-area booking-area fluff-area ."
      ". . . fluff-area ."
      ". . . . .";
  }
}

.pretty-picture {
  grid-area: picture;
  width: 100%;
  @media (min-width: $wide-breakpoint) {
    width: $wide-breakpoint;
  }
}

.city-name {
  grid-area: cityname-area;
  font-size: 5vw;
  line-height: 6vw;
  color: $bright-primary-color;

  @media (max-width: $narrow-breakpoint) {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  @media (min-width: $wide-breakpoint) {
    font-size: 5rem;
    line-height: 6rem;
  }
}

.fluff {
  grid-area: fluff-area;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 200;

  @media (max-width: $narrow-breakpoint) {
    font-size: 0.8rem;
    line-height: 1rem;
    font-style: normal;
    font-weight: 300;
    }
}

.goto-timetable, .book-now {
  font-size: 2.5vw;
  line-height: 3vw;

  @media (max-width: $narrow-breakpoint) {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  @media (min-width: $wide-breakpoint) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.goto-timetable {
  grid-area: timetable-area;
}

.book-now {
  grid-area: booking-area;
}
