@use "@angular/material" as mat;
@import '../../../theme.scss';

.day-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: max-content;
}

.show-day {
  color: mat.get-color-from-palette($accent-palette, 300);
}

.dont-show-day {
  color: mat.get-color-from-palette($primary-palette, 500);
}

.narrow {
  display: none;
  font-size: 0.8rem;
  @media (max-width: $narrow-breakpoint) {
    display: block;
  }
}

.otherwise {
  display: block;
  @media (max-width: $narrow-breakpoint) {
    display: none;
  }
}
