@use "@angular/material" as mat;
@import 'theme.scss';
@import 'typography.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: mat.get-color-from-palette($accent-palette, 500);
  text-decoration: none;
}

a:hover {
  color: mat.get-color-from-palette($accent-palette, A200);
  text-decoration: underline;
}

.adjust-width {
  font-stretch: 125%,
}

.adjust-image {
  filter: brightness(70%) contrast(125%);
}

.vertical-centre {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.basic-flex-item {
  flex: 0 0 auto;
}

.optional-wrap {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}
