@use "@angular/material" as mat;
@import "theme.scss";
@import "typography.scss";

html,
body {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited {
  color: mat.get-color-from-palette($accent-palette, 500);
  text-decoration: none;
}

a:hover {
  color: mat.get-color-from-palette($accent-palette, A200);
  text-decoration: underline;
}

.adjust-width {
  font-stretch: 100%;
}

@media (max-width: $narrow-breakpoint) {
  .adjust-width {
    font-stretch: 85%;
  }
}

@media (min-width: $wide-breakpoint) {
  .adjust-width {
    font-stretch: 125%;
  }
}

.adjust-image {
  filter: brightness(70%) contrast(125%);
}
