@use 'sass:map';
@use "@angular/material" as mat;
@include mat.core();

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$cyan-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    // Only include `density` in the default dark theme.
    density: 0,
  )
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$cyan-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

// By default use the dark theme...
@include mat.all-component-themes($dark-theme);
$color-config:    mat.get-color-config($dark-theme);

// ... unless the user wants the light theme
@media (prefers-color-scheme: light) {
  // note we are only overloading the colours here
  @include mat.all-component-colors($light-theme);
  $color-config:    mat.get-color-config($light-theme);
}

$primary-palette: map.get($color-config, 'primary');
$accent-palette:  map.get($color-config, 'accent');
$warn-palette:    map.get($color-config, 'warn');
$is-dark-theme:   map.get($color-config, 'is-dark');
