@use "@angular/material" as mat;

@font-face {
  font-family: "Mona Sans";
  src: url("assets/Mona-Sans.woff2") format("woff2 supports variations"),
    url("assets/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

$my-typography: mat.define-typography-config(
  $font-family: "Mona Sans",
  $headline-1: mat.define-typography-level(10vw, 12vw, 200, $letter-spacing: 0.05rem),
  $headline-4: mat.define-typography-level(4vw, 5vw, 300),
);

@include mat.all-component-typographies($my-typography);
