@use "../../../styles.scss" as *;

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 20rem 30rem 0.5fr;
  grid-template-rows: 0.5fr max-content max-content max-content 0.5fr;
  grid-template-areas:
    ". . . ."
    ". . origin-summary-block ."
    ". . destination-summary-block ."
    ". date-question-block date-picker-block ."
    ". . . .";

  @media (max-width: $narrow-breakpoint) {
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr max-content max-content max-content max-content 0.5fr;
    grid-template-areas:
      "."
      "origin-summary-block"
      "destination-summary-block"
      "date-question-block"
      "date-picker-block"
      ".";
  }
}

.origin-summary {
  grid-area: origin-summary-block;
}

.destination-summary {
  grid-area: destination-summary-block;
}

.origin-summary,
.destination-summary {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  color: $primary-color;
  @media (max-width: $narrow-breakpoint) {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}

.date-question {
  grid-area: date-question-block;
}

.date-picker {
  grid-area: date-picker-block;
  border: 1px solid rgba($accent-color, 0.5);
  background-color: rgba($opposite-text-color, 0.15);
}
